*.log
*.aux
*.gz
*.dvi
*.toc
*.ilg
*.ind
*.idx
*.exc.tex
*.fc.tex
*.sol.tex
.latex-live-snippets/
_minted-*/
*.pdf
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.pyg
.current-revision
*.out
.fracked/
*.epub

/.ghc.environment.x86_64-darwin-8.6.4
/.stack-work/
/dist-newstyle/

